.btn_excluir{
    padding: 0;
    background-color: transparent;
}

.btn_excluir:hover {
    border-color: transparent;
    border-left-width: 0;
    border-bottom-width: 0;

    transform: translateY(0);

    transition:ease-out 100ms;
  }

  .btn_excluir:focus{
    outline: none;
  }