#container{
  grid-column: 2 / -1;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cabecalho{
  margin-bottom: 2rem;
  height: 20%;
}

.cabecalho h1{
  padding-bottom: 0.6rem;
}

.corretoras_container{
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 1.2rem;
  border: 1px solid rgba(128, 128, 128, 0.178);
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.055);
}

.lista_de_corretoras {
  max-height: 700px;
  overflow-y: auto;
}

.info_corretora {
  width: 96%;
  margin-bottom: 1rem;
  padding: 1.2rem;
  border: 1px solid rgba(128, 128, 128, 0.178);
  border-radius: 1rem;
  word-break: break-all;
  list-style-type: none
}

.info_corretora:hover {
  width: 98%;
  border-color: #646cff;
  border-left-width: 0.2rem;
  border-bottom-width: 0.2rem;
  transition: ease-in-out 100ms;
}